# Logs
logs
*.log
npm-debug.log*
logs*.txt

# Dependencies
node_modules/

# Coverage
coverage

# Transpiled files
build/

# VS Code
.vscode
!.vscode/tasks.js
 
# JetBrains IDEs
.idea/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Misc
.DS_Store

*test*.ts

dist
price-list

src/test

.env